extends ../layout

block content
  h1 Editar bicicleta
  form(action='/bicicletas/' + bicicleta.id + '/update', method='post')
    label(for='color') Color:
    select(name='color', id='', required)
      each val in ['Blanco' , 'Negro' , 'Rojo', 'Verde']
        if val === bicicleta.color
          option(value=val, selected)= val
        else
          option(value=val)= val
    br
    label(for='modelo') Modelo:
    select(name='modelo', id='', required)
      each val in ['Ruta' , 'Cross' , 'Montian', 'Turismo']
        if val === bicicleta.modelo
          option(value=val, selected)= val
        else
          option(value=val)= val
    br
    label(for='lat') Latitud:
    input(type='text' name='lat' value=bicicleta.lat required)
    br
    label(for='lng') Longitud:
    input(type='text' name='lng' value=bicicleta.lng required)
    br
    br
    button.btn(type='submit' name='OK') Actualizar
